ReservationApi/Service References/srTipoDeporte/TipoDeporte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2588/ServiceApp/TipoDeporte.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" />
  <xs:element name="Listar_TiposDeporte">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_TiposDeporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" minOccurs="0" name="Listar_TiposDeporteResult" nillable="true" type="q1:ArrayOfBETipoDeporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_TipoDeporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" minOccurs="0" name="obj" nillable="true" type="q2:BETipoDeporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_TipoDeporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" minOccurs="0" name="Registrar_TipoDeporteResult" nillable="true" type="q3:BETipoDeporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_TipoDeporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" minOccurs="0" name="obj" nillable="true" type="q4:BETipoDeporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_TipoDeporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" minOccurs="0" name="Actualizar_TipoDeporteResult" nillable="true" type="q5:BETipoDeporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoDeporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="COD_TIPO_DEPO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoDeporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" minOccurs="0" name="Obtener_TipoDeporteResult" nillable="true" type="q6:ArrayOfBETipoDeporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_TipoDeporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="COD_TIPO_DEPO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_TipoDeporteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>