ReservationApi/Service References/srTipoDeporte/TipoDeporte2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReservationREST.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBETipoDeporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETipoDeporte" nillable="true" type="tns:BETipoDeporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETipoDeporte" nillable="true" type="tns:ArrayOfBETipoDeporte" />
  <xs:complexType name="BETipoDeporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_MNSG_ERRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_TIPO_DEPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIPO_DEPO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETipoDeporte" nillable="true" type="tns:BETipoDeporte" />
</xs:schema>