ReservationApi/Service References/srReservation/Order.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Order" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26306/ServiceApp/Orden.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26306/ServiceApp/Orden.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26306/ServiceApp/Orden.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrden_Listar_TiposDeporte_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_TiposDeporte" />
  </wsdl:message>
  <wsdl:message name="IOrden_Listar_TiposDeporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_TiposDeporteResponse" />
  </wsdl:message>
  <wsdl:message name="IOrden_Listar_TiposCancha_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_TiposCancha" />
  </wsdl:message>
  <wsdl:message name="IOrden_Listar_TiposCancha_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_TiposCanchaResponse" />
  </wsdl:message>
  <wsdl:message name="IOrden_Listar_Horarios_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_Horarios" />
  </wsdl:message>
  <wsdl:message name="IOrden_Listar_Horarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_HorariosResponse" />
  </wsdl:message>
  <wsdl:message name="IOrden_Registrar_Orden_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Orden" />
  </wsdl:message>
  <wsdl:message name="IOrden_Registrar_Orden_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_OrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IOrden_Listar_Reservaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_Reservaciones" />
  </wsdl:message>
  <wsdl:message name="IOrden_Listar_Reservaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_ReservacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrden_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IOrden_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrden">
    <wsdl:operation name="Listar_TiposDeporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrden/Listar_TiposDeporte" message="tns:IOrden_Listar_TiposDeporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrden/Listar_TiposDeporteResponse" message="tns:IOrden_Listar_TiposDeporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar_TiposCancha">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrden/Listar_TiposCancha" message="tns:IOrden_Listar_TiposCancha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrden/Listar_TiposCanchaResponse" message="tns:IOrden_Listar_TiposCancha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar_Horarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrden/Listar_Horarios" message="tns:IOrden_Listar_Horarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrden/Listar_HorariosResponse" message="tns:IOrden_Listar_Horarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrar_Orden">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrden/Registrar_Orden" message="tns:IOrden_Registrar_Orden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrden/Registrar_OrdenResponse" message="tns:IOrden_Registrar_Orden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar_Reservaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrden/Listar_Reservaciones" message="tns:IOrden_Listar_Reservaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrden/Listar_ReservacionesResponse" message="tns:IOrden_Listar_Reservaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrden/LoginUser" message="tns:IOrden_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrden/LoginUserResponse" message="tns:IOrden_LoginUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrden" type="tns:IOrden">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar_TiposDeporte">
      <soap:operation soapAction="http://tempuri.org/IOrden/Listar_TiposDeporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_TiposCancha">
      <soap:operation soapAction="http://tempuri.org/IOrden/Listar_TiposCancha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Horarios">
      <soap:operation soapAction="http://tempuri.org/IOrden/Listar_Horarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar_Orden">
      <soap:operation soapAction="http://tempuri.org/IOrden/Registrar_Orden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Reservaciones">
      <soap:operation soapAction="http://tempuri.org/IOrden/Listar_Reservaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IOrden/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Order">
    <wsdl:port name="BasicHttpBinding_IOrden" binding="tns:BasicHttpBinding_IOrden">
      <soap:address location="http://localhost:26306/ServiceApp/Orden.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>