ReservationApi/Service References/srReservation/Order.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Order" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26306/ServiceApp/Order.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26306/ServiceApp/Order.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26306/ServiceApp/Order.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrder_ListTypesSport_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTypesSport" />
  </wsdl:message>
  <wsdl:message name="IOrder_ListTypesSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTypesSportResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ListTypeCourts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTypeCourts" />
  </wsdl:message>
  <wsdl:message name="IOrder_ListTypeCourts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTypeCourtsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ListTimeTable_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTimeTable" />
  </wsdl:message>
  <wsdl:message name="IOrder_ListTimeTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTimeTableResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_SetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_SetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ListReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListReservation" />
  </wsdl:message>
  <wsdl:message name="IOrder_ListReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IOrder_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrder">
    <wsdl:operation name="ListTypesSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ListTypesSport" message="tns:IOrder_ListTypesSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ListTypesSportResponse" message="tns:IOrder_ListTypesSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListTypeCourts">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ListTypeCourts" message="tns:IOrder_ListTypeCourts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ListTypeCourtsResponse" message="tns:IOrder_ListTypeCourts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListTimeTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ListTimeTable" message="tns:IOrder_ListTimeTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ListTimeTableResponse" message="tns:IOrder_ListTimeTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/SetOrder" message="tns:IOrder_SetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/SetOrderResponse" message="tns:IOrder_SetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ListReservation" message="tns:IOrder_ListReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ListReservationResponse" message="tns:IOrder_ListReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/LoginUser" message="tns:IOrder_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/LoginUserResponse" message="tns:IOrder_LoginUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrder" type="tns:IOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListTypesSport">
      <soap:operation soapAction="http://tempuri.org/IOrder/ListTypesSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTypeCourts">
      <soap:operation soapAction="http://tempuri.org/IOrder/ListTypeCourts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTimeTable">
      <soap:operation soapAction="http://tempuri.org/IOrder/ListTimeTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/SetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReservation">
      <soap:operation soapAction="http://tempuri.org/IOrder/ListReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IOrder/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Order">
    <wsdl:port name="BasicHttpBinding_IOrder" binding="tns:BasicHttpBinding_IOrder">
      <soap:address location="http://localhost:26306/ServiceApp/Order.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>