ReservationApi/Service References/srReservation/Orden1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBETipoDeporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETipoDeporte" nillable="true" type="tns:BETipoDeporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETipoDeporte" nillable="true" type="tns:ArrayOfBETipoDeporte" />
  <xs:complexType name="BETipoDeporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_TIPO_DEPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIPO_DEPO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETipoDeporte" nillable="true" type="tns:BETipoDeporte" />
  <xs:complexType name="ArrayOfBETipoCancha">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETipoCancha" nillable="true" type="tns:BETipoCancha" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETipoCancha" nillable="true" type="tns:ArrayOfBETipoCancha" />
  <xs:complexType name="BETipoCancha">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_TIPO_CANC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIPO_CANC" type="xs:int" />
      <xs:element minOccurs="0" name="COD_TIPO_DEPO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETipoCancha" nillable="true" type="tns:BETipoCancha" />
  <xs:complexType name="ArrayOfBEHorario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEHorario" nillable="true" type="tns:BEHorario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEHorario" nillable="true" type="tns:ArrayOfBEHorario" />
  <xs:complexType name="BEHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_HORA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_HORA" type="xs:int" />
      <xs:element minOccurs="0" name="HOR_FINA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOR_INIC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEHorario" nillable="true" type="tns:BEHorario" />
  <xs:complexType name="BECliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_CORR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_MNSG_ERRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_NOMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_NUME_DOCU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_NUME_TELE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_TIPO_DOCU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_CLIE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECliente" nillable="true" type="tns:BECliente" />
  <xs:complexType name="BEOrden">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_CORR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_HORA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_MNSG_ERRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_NOMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_NUME_DOCU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_NUME_PEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_NUME_TELE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_TIPO_CANC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_TIPO_DEPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_TIPO_DOCU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_CLIE" type="xs:int" />
      <xs:element minOccurs="0" name="COD_HORA" type="xs:int" />
      <xs:element minOccurs="0" name="COD_PEDI" type="xs:int" />
      <xs:element minOccurs="0" name="COD_RESE" type="xs:int" />
      <xs:element minOccurs="0" name="COD_TIPO_CANC" type="xs:int" />
      <xs:element minOccurs="0" name="COD_TIPO_DEPO" type="xs:int" />
      <xs:element minOccurs="0" name="FEC_HORA_RESE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEC_RESE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOR_INIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IND_ESTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MON_DEUD" type="xs:decimal" />
      <xs:element minOccurs="0" name="MON_PAGA" type="xs:decimal" />
      <xs:element minOccurs="0" name="MON_PAGO" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEOrden" nillable="true" type="tns:BEOrden" />
  <xs:complexType name="ArrayOfBEOrden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEOrden" nillable="true" type="tns:BEOrden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEOrden" nillable="true" type="tns:ArrayOfBEOrden" />
  <xs:complexType name="BELogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_PASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_USUA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogin" nillable="true" type="tns:BELogin" />
</xs:schema>