ReservationApi/Service References/srReservation/Order2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26306/ServiceApp/Order.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" />
  <xs:element name="ListTypesSport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTypesSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" minOccurs="0" name="ListTypesSportResult" nillable="true" type="q1:ArrayOfBETypeSport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTypeCourts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="COD_TIPO_DEPO" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTypeCourtsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" minOccurs="0" name="ListTypeCourtsResult" nillable="true" type="q2:ArrayOfBETypeCourts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTimeTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" minOccurs="0" name="ListTimeTableResult" nillable="true" type="q3:ArrayOfBETimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" minOccurs="0" name="obj" nillable="true" type="q4:BEOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" minOccurs="0" name="SetOrderResult" nillable="true" type="q5:BEOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListReservation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" minOccurs="0" name="ListReservationResult" nillable="true" type="q6:ArrayOfBEOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReservationServices.BusinessEntities" minOccurs="0" name="obj" nillable="true" type="q7:BELogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>